<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOOTsF6-6aSn3S0Xhdu4Jzn58prrhr-7k</string>
	<key>GCM_SENDER_ID</key>
	<string>31742760590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>wechat-1f79b</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-1f79b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31742760590:ios:6e19e83fef244a41d05bdf</string>
</dict>
</plist>